@using BilgiIslemEnvanter.Models.Entity

@model List<BilgiIslemEnvanter.Models.Entity.Birimler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="~/Birim/Ekle/" class="btn btn-primary">Birim Ekle</a>
<br />
<h2 style="color:red; text-align:center">Burdur Adliyesi Birimleri</h2>
<table id="veri" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr style="background: crimson; color: bisque">
            <td>ID</td>
            <td>BİRİM ADI</td>
            <td>İŞLEM</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var bilgi in Model)
    {
        <tr>
            <th>@bilgi.ID</th>
            <td>@bilgi.BIRIMAD</td>
            <td>

                <a href="~/Birim/Sil/@bilgi.ID"><img border="0" alt="sil" src="~/resim/sil.png" width="20" height="20" /></a>
                <a href="~/Birim/Getir/@bilgi.ID"><img border="0" alt="sil" src="~/resim/update.png" width="20" height="20" /></a>
            </td>
        </tr>
    }
    </tbody>
</table>


