
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Takip Sistemi v.1.0</title>
    <link href="~/dist-admin/css/styles.css" rel="stylesheet" />

    <link href="~/dist-admin/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="~/Content/Select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/dist-admin/js/all.min.js" crossorigin="anonymous"></script>

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="~/Home/Index/">Envanter Takip Sistemi</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Arama..." aria-label="Search" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Ayarlar</a>
                    <a class="dropdown-item" href="#">Log Aktivitesi</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="~/Login/CikisYap/">Çıkış</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"></div>
                        <a class="nav-link" href="~/Home/Index/">
                            @*<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>*@
                            <div align="center">  <img src="~/resim/pngwing.com.png" /></div>
                        </a>
                        <div class="sb-sidenav-menu-heading">İşlemler</div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#islemler" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Tanımlamalar
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="islemler" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Bilgisayar/Index/">Bilgisayarlar</a>
                                <a class="nav-link" href="~/Yazici/Index/">Yazıcılar</a>
                                <a class="nav-link" href="~/Tarayici/Index/">Tarayıcılar</a>
                                <a class="nav-link" href="~/Birim/Index/">Birimler</a>
                                <a class="nav-link" href="~/Unvan/Index/">Unvanlar</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#personel" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            Personeller
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="personel" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Personel/Index/">Personeller</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#tasinir" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                            Taşınırlar
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="tasinir" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Tasinir/Liste/">Zimmetle</a>
                                <a class="nav-link" href="~/Raporlar/ZimmetListesi/">Zimmet Listesi</a>
                                <a class="nav-link" href="~/Tasinir/FisDuzenle/">Zimmet Fişi Düzenle</a>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#raporlar" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Raporlar
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="raporlar" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Raporlar/TarihFiltre1/">Toner Takma Tarihi Raporlama</a>
                                <a class="nav-link" href="#">Tüm Raporlar</a>
                                <a class="nav-link" href="#">Tüm Raporlar</a>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#toner" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Tonerler
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="toner" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Toner/TonerGiris/">Toner Giriş</a>
                                <a class="nav-link" href="~/Toner/Liste/">Toner Çıkış</a>
                                <a class="nav-link" href="~/Toner/TonerStok/">Toner Stok</a>
                                <a class="nav-link" href="~/Toner/Rapor/">Toner Rapor</a>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#firma" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
                            Firma İşlemleri
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="firma" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="~/Toner/Giris/">Malzeme Alımı</a>
                                <a class="nav-link" href="~/Toner/Cikis/">Sarf Kontrol</a>
                                <a class="nav-link" href="~/Toner/Stok/">Borç - Alacak</a>
                            </nav>
                        </div>

                    </div>
                </div>
               
            </nav>
        </div>

        <div id="layoutSidenav_content" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
            <main>
                @RenderBody()

            </main>


            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Burdur Adliyesi - Bilgi İşlem Şefliği 2021</div>
                        
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/dist-admin/js/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>

    <script src="~/dist-admin/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/dist-admin/js/scripts.js"></script>
    <script src="~/dist-admin/js/Chart.min.js" crossorigin="anonymous"></script>

    <script src="~/dist-admin/assets/demo/chart-area-demo.js"></script>
    <script src="~/dist-admin/assets/demo/chart-bar-demo.js"></script>
    <script src="~/dist-admin/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="~/dist-admin/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/dist-admin/assets/demo/datatables-demo.js"></script>
    <script src="~/Content/Select2/js/select2.full.min.js"></script>
<script>

    $(document).ready(function () {
        $('#veri').DataTable();
    });

</script>


</body>
</html>


