@model BilgiIslemEnvanter.Models.Entity.Yazicilar

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Ekle", "Yazici", FormMethod.Post))
{


    <div class="col-md-6 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Yazıcı Kayıt Formu</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <b><label>Yazıcı Marka</label></b>
                                </div>
                                <div class="col-md-8 form-group">
                                    @Html.DropDownListFor(m => m.MARKAID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control", @name="MARKAID" })
                                </div>
                                <div class="col-md-4">
                                    <b><label>Yazıcı Model</label></b>
                                </div>
                                <div class="col-md-8 form-group">
                                    @Html.DropDownListFor(m => m.MODELID, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control", @name = "MODELID" })
                                </div>

                                <div class="col-md-4">
                                    <label>Seri No</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    @Html.TextBoxFor(m => m.SERINO, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SERINO, "", new { @style = "color:red" })
                                </div>

                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button class="btn btn-primary mr-1 mb-1">Kayıt</button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}

